html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  body{
    font-family: $fuentePrincipal;
    font-size: 1.6rem;
}

h1,h2,h3{
  margin: 0;
}
h2{
  font-size: $large;
}
h3{
  font-size: $medium;
}
a{
  text-decoration: none;
}
p{
  font-size: $small;
  color: $negro;
}
img{
  max-width: 100%;
}
