@mixin telefono{
    @media (max-width:$telefono) {
        @content;
    }
}

@mixin tablet{
    @media (max-width:$tablet) {
        @content;
    }
}

@mixin desktop{
    @media (max-width:$desktop) {
        @content;
    }
}

@mixin grid($columnas){
    display: grid;
    grid-template-columns: repeat($columnas,1fr);
    gap:2rem;
}