$fuentePrincipal : 'Poppins', sans-serif;

$blanco : #FFFFFF;
$negro : #000000;
$naranja : #FFA500;
$marron: #2E1503;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

//media queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
