@import './base/variables';
@import './base/globales';
@import './base/mixins';

//layouts
@import './layout/header';
@import './layout/hero';
@import './layout/cursos';
@import './layout/footer';
@import './layout/animaciones';