.cursos__articulo--ilustracion{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    position: relative;
    .ilustacion{
        width: 35%;
        
        .flechas{
            animation: flechas 4800ms cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
            @keyframes flechas {
                0% {
                          transform: translateX(0);
                }
                50%{
                          transform: translateX(150px);
                }
                100% {
                          transform: translateX(0);
                }
              }
        }
      /*  .rueda{
           position: absolute;
           top: 0;
        animation: rueda 2000ms cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
        @keyframes rueda {
            100% {
                      transform: rotateX(-360deg);
            }
          }
       } */
    }

}