.nav{
    background: $negro;
    height: 80px;
    width: 100%;
    &__logo{
        height: 35px;
        padding: 0 25px;
        margin-top: 20px;
    }
    ul{
        float: right;
        margin-right: 20px;
        li{
            display: inline-block;
            line-height: 80px;
            margin: 0 5px;
            font-weight: bold;
            a{
                color:$blanco;  
                font-size:17px;
                padding: 7px 13px;
                border-radius: 3px;
            }
        }
    }
    .checkbtn{
        font-size: 30px;
        color: white;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
        &:hover{
            transition: .5s;
            color:$naranja;
        }
    }
    #check{
        display: none;
    }

    @include tablet {
        &__logo{
            padding-left: 50px;
            height: 40px;
        }
        .checkbtn{
            display: block;
        }
        ul{
            position: fixed;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100vh;
            background-color: #2c3e50;
            top: 80px;
            left: -100%;
            text-align: center;
            transition: all .5s;
        }
        li{
            display: block;
            a{
                font-size: 20px;
                &:hover, a.active{
                    background: none;
                    color: #0082e6;
                }
            }
        }

        #check:checked ~ ul{
            left: 0;
        }

    }
}
